<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrow Items</title>
</head>
<body>
    <h1>Borrow Items</h1>
    
    <!-- Display Available Books -->
    <h2>Available Books</h2>
    <ul>
        {% for book in books %}
            <li>{{ book.title }} by {{ book.author }} - {{ book.available_copies }} available copies 
                <button type="button" onclick="addToCart('{{ book.id }}')">Add to Cart</button>
            </li>
        {% endfor %}
    </ul>
    
    <!-- Display Available CDs -->
    <h2>Available CDs</h2>
    <ul>
        {% for cd in cds %}
            <li>{{ cd.title }} - {{ cd.available_copies }} available copies 
                <button type="button" onclick="addToCart('{{ cd.id }}')">Add to Cart</button>
            </li>
        {% endfor %}
    </ul>

    <!-- Display Available Magazines -->
    <h2>Available Magazines</h2>
    <ul>
        {% for magazine in magazines %}
            <li>{{ magazine.title }} - {{ magazine.available_copies }} available copies 
                <button type="button" onclick="addToCart('{{ magazine.id }}')">Add to Cart</button>
            </li>
        {% endfor %}
    </ul>

    <!-- Display Available DVDs -->
    <h2>Available DVDs</h2>
    <ul>
        {% for dvd in dvds %}
            <li>{{ dvd.title }} - {{ dvd.available_copies }} available copies 
                <button type="button" onclick="addToCart('{{ dvd.id }}')">Add to Cart</button>
            </li>
        {% endfor %}
    </ul>

    <h2>Cart</h2>
    <ul id="cart">
        
    </ul>
    <button onclick="checkout()">Checkout</button>

    <script>
        var cart = [];

        function addToCart(itemId) {
            // Check if item is already in cart
            if (cart.includes(itemId)) {
                alert("Item is already in cart.");
            } else {
                // Check if cart limit reached
                if (cart.length < 5) {
                    cart.push(itemId);
                    alert("Item added to cart.");
                } else {
                    alert("You cannot borrow more than 5 items.");
                }
            }
        }

        function checkout() {
            // Display cart items
            var cartItems = "";
            for (var i = 0; i < cart.length; i++) {
                cartItems += cart[i] + "<br>";
            }
            document.getElementById("cart").innerHTML = cartItems;

            // Display checkout message
            alert("Enjoy your borrowed items. Thank you for checking in your items Online.");
        }
    </script>
</body>
</html>
