{% extends 'search.html' %}

{% block content %}
<style>
    #resultsTable {
        width: 100%; /* Ensure table width is full */
        text-align: center; /* Center align text */
    }
    #resultsTable th, #resultsTable td {
        text-align: center; /* Center text for each cell */
    }
    #resultsTable form {
        display: inline; /* Keep forms inline */
    }
</style>

<br/>
<h2>Search Results</h2>
<table id="resultsTable">
    <thead>
        <tr>
            <th><h1>Title</h1></th>
            <th><h1>Content Type</h1></th>
            <th><h1>Availability</h1></th>
            <th></th> 
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.type }}</td>
            <td>{{ item.available == 1 }}</td>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
